<div id="functions-index-page">
  <div data-controller="search-functions" class="index-container">
    <%= form_with url: functions_path, method: :get, html: { class:
    '', data: { search_functions_target: 'form' } } do |f| %>
      <%= f.text_field :query,
                      class: "form-control",
                      placeholder: 'Type a function title',
                      value: params[:query],
                      data: {
                        search_functions_target: 'input',
                        action: 'keyup->search_functions#update'
                      } %>
      <% end %>

    <%= render 'list', functions: @functions %>
  </div>

  <br>

  <% if policy(Function).create? %>
    <%= link_to 'New Function', new_function_path %>
  <% end %>
  <p id="notice"><%= notice %></p>
</div>
