<div id="functions-show-page">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @function.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @function.description %>
  </p>

  <p>
    <strong>Example:</strong>
    <%= @function.example %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= @function.type.name %>
  </p>

  <% if policy(@function).edit? %>
    <%= link_to 'Edit', edit_function_path(@function) %> |
  <% end %>
  <%= link_to 'Back', functions_path %>
</div>
